

* {margin: 0; padding: 0; border: 0; font-size: inherit; font: inherit; vertical-align: baseline;color: inherit;box-sizing: border-box;-webkit-font-smoothing: antialiased !important;}
body{color: #333;font-size: 14px;font-family: 'Montserrat', sans-serif;background: #f4f4f4;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.text-justify{text-align: justify;}
.white{color: #fff;}
img, iframe{vertical-align: middle;max-width:100%;max-height:100%;}
strong,.bold{font-weight:700;}
em,.italic{font-style:italic;}
a{text-decoration:none;color:inherit;}
a:hover, a:active{text-decoration: none;opacity: 0.95;color: inherit;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
.ib{display:inline-block;}
.viz_hidden{visibility: hidden;}
.clearfix{clear: both;}
input[type="checkbox"], label{vertical-align: middle;}
input, textarea, button{outline: none;}
button{cursor: pointer;}
a:hover{color: #BFE7E0;opacity: 0.9;}
p{margin: 0 0 5px;}
label{margin-bottom: 0;}
input[type=checkbox], input[type=radio]{margin: 0;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	font-weight: 600;
}


/*************************
*
*	SITE GENERAL START
*
*************************/
body{
	background-color: #E9F5F3;
}
.mainContainer{
	width: 1200px;
	margin: auto;
	max-width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}
#mainContent{
	min-height: calc(100vh - 358px);
}
/*************************
*
*	SITE GENERAL END
*
*************************/




/*************************
*
*	HEADER START
*
*************************/

#header{
	padding-top: 80px;
	margin-bottom: 115px;
}
.logoWrap{
	margin-bottom: 48px;
	display: block;
}

.mainMenuElement{
	display: inline-block;
	color: #3F3F3F;
	font-size: 18px;	
	font-weight: 500;	
	line-height: 22px;	
	list-style-type: none;
	text-transform: uppercase;
	margin-right: 40px;
}
.mainMenuElement.active{
	font-weight: 800;
}


/* Effect 5: same word slide in */

.topMenu a:hover,
.topMenu a:focus {
	outline: none;
	color: #3F3F3F;
}
.topMenu a {
	overflow: hidden;
	padding-right: 5px;
	height: 1em;
	position: relative;
	display: inline-block;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

.topMenu a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.topMenu a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.topMenu a:hover span,
.topMenu a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}


.mobile-button {
	width: 36px;
	height: 32px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	color: #BFE7E0;
	background-color: #BFE7E0;
	text-align: center;
	font-size: 17px;
	padding-top: 2px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	position: relative;
	z-index: 1000;
}
.mobile-button span{
	display: block;
	position: absolute;
	height: 3px;
	width: 75%;
	background: #b61c1c;
	border-radius: 4px;
	opacity: 1;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}


/* Icon 3 */

.mobile-button span:nth-child(1) {
	top: 8px;
}

.mobile-button span:nth-child(2),.mobile-button span:nth-child(3) {
	top: 16px;
}

.mobile-button span:nth-child(4) {
	top: 24px;
}

.mobile-menu-active .mobile-button span:nth-child(1) {
	top: 16px;
	width: 0%;
	left: 50%;
}

.mobile-menu-active .mobile-button span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mobile-menu-active .mobile-button span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.mobile-menu-active .mobile-button span:nth-child(4) {
	top: 16px;
	width: 0%;
	left: 50%;
}
 

/*************************
*
*	HEADER END
*
*************************/




/*************************
*
*	FOOTER START
*
*************************/
#footer{
	height: 60px;
	padding-top: 5px;
}

/*************************
*
*	FOOTER END
*
*************************/





/*************************
*
*	04B Project_04A START
*
*************************/
.contentWhiteBox{
	background: #FFF;
	-webkit-border-radius: 24px;
	        border-radius: 24px;
	padding-top: 80px;
	padding-bottom: 80px;
}
.blueTitle{
	color: #0279FF;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	border-bottom: 2px solid #D8D8D8;
	padding-bottom: 16px;
	text-transform: uppercase;
}
.textTitle{
	color: #3F3F3F;
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	margin-top: 40px;
}

.contentWhiteBox .textContent{
	padding-left: 80px;
	padding-right: 80px;
}
/* Start Carousel Slider */

.contentWithSlider{
	margin-top: 40px;
	margin-bottom: 40px;
}
.contentWithSlider .tns-inner{
	width: 2900px!important;
	position: relative;
	left: 80px;
}
.sliderItemImage{
	display: block;
	width: 940px;
	height: 490px;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
	-webkit-border-radius: 24px;
	        border-radius: 24px;
	position: relative;
}
.maximizeBtn{
	background: url(../images/maximize@2x.png);
	height: 48px;
	width: 48px;
	top: 24px;
	right: 24px;
	position: absolute;
	-webkit-background-size: 24px;
	     -o-background-size: 24px;
	        background-size: 24px;
	background-color: #FFFFFF;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 8px;
	z-index: 999;
	display: none;
}
.tns-outer{
	position: relative;
}
.tns-controls{
	position: relative;
	z-index: 9999;
}
.tns-controls button{
	position: absolute;
	width: 54px;
	height: 490px;
	color: transparent;	
	background: transparent;
	-webkit-border-radius: 0 24px 24px 0;
	        border-radius: 0 24px 24px 0;
}
.tns-controls button:nth-child(2){
	right: 0;
	-webkit-border-radius: 24px 0 0 24px;
	        border-radius: 24px 0 0 24px;
}
.tns-item .sliderItemImage:after{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: #979797;
	
	opacity: 0.8;
	-webkit-border-radius: 24px;
	        border-radius: 24px;
}
.tns-slide-active:first-of-type{
	display: none;
}
.tns-slide-active .sliderItemImage:after{
	opacity: 0;
}
.tns-slide-active ~ .tns-slide-active  .sliderItemImage:after{
	opacity: 0.8;
}
.tns-slide-active .maximizeBtn{
	display: block;
}
/* End Carousel Slider */


/*************************
*
*	04B Project_04A END
*
*************************/